.header {
    position: flex;
    margin-top: 10px;
    font-size: 40px;
}

.header > img {
    height: 9rem;
    width: 37rem;
}

.header > div {
    display: flex;
    position: absolute;
    left: 2rem;
    font-size: 1.6rem;
    top: -.5rem;
}

.header button {
    border: none;
    padding: 0 .5rem;
    outline: none;
    cursor: pointer;
    color: #999;
    font-size: 1rem;
    background: none;
}
.header a:link {
    text-decoration: none;
    font-size: 1rem;
    color: #999;
    padding: 0 .5rem;
    transform: translateY(40%);
}


